.search{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;

}
.search input{
    border-radius: 10px;
    box-shadow: 1px 2px 15px 1px #000;
    border: none;
    padding: 15px 40px;
}

